<head>
  <title>La Gambeta</title>
  <meta charset="UTF-8" />
  <!---->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--enlace a la hoja de estilos -->
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <!--acá ponemos el enlace del favicon con el diseño del sitio web-->
  <link href="https://img.icons8.com/ios/50/000000/football.png" rel="icon" type="image/png" />
</head>