* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
  background-color: cornsilk;
  display: flex;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}

.nav-item {
  flex-grow: 1;
}

.nav-item_link {
  display: block;
  padding: 10px 0;
}

.nav-item_link:hover {
  background-color: crimson;
  color: white;
}




.padre {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.hijo {
  border-radius: 21px 21px 21px 21px;
  width: calc(100% / 3);
  background-color: var(--color-blanco);
  font-size: 2vw;
  flex-grow: 1;
  margin: 1%;
  border: 1px solid black;
}


.fondo {
  width: 300px;
  object-fit:contain;
  height: 50%;
  margin: 1%;
}



