<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' >
    </head>
    <body>
        <%- include('../partials/nav.ejs'); -%>
        <h1><%= title %></h1>

        <form action="/busqueda_proceso" method="GET">
            <!-- 
                El atributo name nos sirve para conseguir la información
                e identificar al campo
            -->
            <label>
                Término de búsqueda:
                <input type="search" name="termino">
            </label>
            <input type="submit" value="Buscar">
        </form>
    </body>
</html>
